{% extends 'base.html' %}

{% block title %}

| Reset Password

{% endblock %}

{% block content %}

<style>
  label {
    font-family: 'Cardo', 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-right: 15px;
  }

  button {
    background-color: #31cdcc;
    color: white;
    display: block;
    height: 34px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    font-size: 14px;
  }

  input {
    width: 14rem;
    height: 34px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    outline: none;
    margin: 15px;
  }
</style>

<section class="bg-light py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header text-white bg_prime">
            <h4>Reset Password</h4>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}